<app-header></app-header>
<div class="row">
  <div class="col-md-7">


          <h2>Списки</h2>
          <button class="btn btn-success" (click)="showAddListForm()">Створити новий список</button>
          <form *ngIf = "listAddFormChecker" (ngSubmit)="addList()" #addListForm = "ngForm">
              <div class="form-group">
                  <label for="name" >Найменування списку:</label>
                  <input type="text" id="name" class="form-control" name="name" #name = ngModel [(ngModel)]="model.name">
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!addListForm.valid">Додати список</button>
          </form>



          <table class="table table-hover">
              <tbody>
              <tr *ngFor="let list of lists">
                  <td *ngIf="!isChecked(list)"><input (click)="showNumbers(list)" type="radio" name="optradio" >{{list.name}}</td>
                  <td *ngIf="isChecked(list)"><input checked (click)="showNumbers(list)" type="radio" name="optradio" >{{list.name}}</td>
                  <!--<td><button class="btn btn-warning glyphicon glyphicon-pencil"></button></td>-->
                  <td><button (click)="deleteList(list)" class="btn btn-danger glyphicon glyphicon-remove"></button></td>
              </tr>
              </tbody>
          </table>
      <h2>Номери списку {{listName}}</h2>
      <table class="table table-hover">
          <tbody>
          <tr *ngFor="let listCatalog of listCatalogs">
              <td>{{listCatalog.name}}</td>
              <td>{{listCatalog.number}}</td>
              <td><button (click)="deleteNumber(listCatalog)" class="btn btn-danger glyphicon glyphicon-remove"></button></td>
          </tr>
          </tbody>
      </table>
</div>
    <div class="col-md-5">
        <h2>Список номерів</h2>
        <table class="table table-hover">
            <tbody>
            <tr *ngFor="let catalog of catalogs">
                <td>{{catalog.name}}</td>
                <td>{{catalog.number}}</td>
                <td><button (click)="addNumber(catalog)" class="btn btn-success">Додати до {{listName}}</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
