
<div class="form-signin">
    <h2 class="form-signin-heading">Будь ласка увійдіть</h2>
    <label for="inputUsername" class="sr-only">Логін користувача</label>
    <input #username type="text" id="inputUsername" class="form-control" placeholder="Логін користувача" required autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input #password type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button (click)="signIn(username.value, password.value)" class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
</div>
