<app-header></app-header>
<div class="row">
    <div class="col-md-7">
        <h2>Список учасників конференції {{activeConference.name}}</h2>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
            <tr>
                <th><a (click)="kickAll()" class="btn btn-danger btn-sm glyphicon glyphicon-remove"></a></th>
                <th><a (click)="callAll()" class="btn btn-success btn-sm fa fa-phone"></a></th>
                <th>Найменування</th>
                <th>Телефон</th>
                <th>
                    <div class="row">
                        <div class="col-md-1">
                            <a (click)="muteAll()" class="btn btn-sm btn-danger fa fa-microphone-slash fa-1x"></a>
                        </div>

                        <div class="col-md-1">
                            <a (click)="unmuteAll()" class="btn btn-sm btn-success fa fa-microphone fa-1x"></a>
                        </div>
                    </div>
                </th>
                <th>Відео</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let catalog of activeList">
                <td>
                    <button *ngIf="!isCatalogActive(catalog)" class="btn btn-default btn-sm glyphicon glyphicon-remove"></button>
                    <button *ngIf="isCatalogActive(catalog)" (click)="confbridgeKick(catalog)" class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
                </td>
                <td>
                    <button *ngIf="isCatalogActive(catalog)"  class="btn btn-success btn-sm fa fa-phone"></button>
                    <button *ngIf="!isCatalogActive(catalog)" (click)="originate(catalog)" class="btn btn-default btn-sm fa fa-phone"></button>
                </td>
                <td>{{catalog.name}}</td>
                <td>{{catalog.number}}</td>
                <td *ngIf="isMicrophoneActive(catalog)"><button (click)="microphoneOff(catalog)" class="btn btn-success fa fa-microphone fa-1x"></button></td>
                <td *ngIf="!isMicrophoneActive(catalog)"><button (click)="microphoneOn(catalog)" class="btn btn-danger fa fa-microphone-slash fa-1x"></button></td>
                <td *ngIf="isCatalogActive(catalog)"><button (click)="setSingleVideo(catalog)" class="btn btn-default glyphicon glyphicon-facetime-video"></button></td>
                <td *ngIf="!isCatalogActive(catalog)"></td>
                <td *ngIf="isCatalogActive(catalog)"><button (click)="setImage()" class="btn btn-default glyphicon glyphicon-picture"></button></td>
                <td *ngIf="!isCatalogActive(catalog)"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <h2>Список учасників на прослуховуванні {{activeConference.name}}</h2>
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                <tr>
                    <th><a (click)="kickAll()" class="btn btn-danger btn-sm glyphicon glyphicon-remove"></a></th>
                    <th>Найменування</th>
                    <th>Телефон</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of unListActiveUsers">
                    <td><button (click)="confbridgeKick(user)" class="btn btn-default btn-sm glyphicon glyphicon-remove"></button></td>
                    <td>{{user.calleridname}}</td>
                    <td>{{user.calleridnum}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <form (ngSubmit)="callNumber()" #callNumberForm = "ngForm">
            <h2 class="form-signin-heading">Викликати на прослуховування</h2>
            <div class="form-group">
                <label for="number">Номер:</label>
                <input name="number" type="text" class="form-control" id="number" #number = ngModel [(ngModel)]="model.number">
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!callNumberForm.form.valid">Додати номер</button>
        </form>
    </div>

    <div class="col-md-5">

    </div>
</div>

