<app-header></app-header>
<div class="row">
    <div class="col-md-7">
        <h2>Список учасників конференції {{activeConference.name}}</h2>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
            <tr>
                <th><a (click)="kickAll()" class="btn btn-danger btn-sm glyphicon glyphicon-remove"></a></th>
                <th><a (click)="callAll()" class="btn btn-success btn-sm fa fa-phone"></a></th>
                <th>Найменування</th>
                <th>Телефон</th>
                <th>
                    <div class="row">
                        <div class="col-md-1">
                            <a (click)="muteAll()" class="btn btn-sm btn-danger fa fa-microphone-slash fa-1x"></a>
                        </div>

                        <div class="col-md-1">
                            <a (click)="unmuteAll()" class="btn btn-sm btn-success fa fa-microphone fa-1x"></a>
                        </div>
                    </div>
                </th>
                <th>Відео</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let catalog of activeList">
                <td>
                    <button *ngIf="isCatalogActive(catalog)" class="btn btn-default btn-sm glyphicon glyphicon-remove"></button>
                    <button *ngIf="!isCatalogActive(catalog)" class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
                </td>
                <td>
                    <button *ngIf="!isCatalogActive(catalog)"  class="btn btn-success btn-sm fa fa-phone"></button>
                    <button *ngIf="isCatalogActive(catalog)" (click)="originate(catalog)" class="btn btn-default btn-sm fa fa-phone"></button>
                </td>
                <td>{{catalog.name}}</td>
                <td>{{catalog.number}}</td>
                <td *ngIf="isMicrophoneActive(catalog)"><button (click)="microphoneOff(catalog)" class="btn btn-success fa fa-microphone fa-1x"></button></td>
                <td *ngIf="!isMicrophoneActive(catalog)"><button (click)="microphoneOn(catalog)" class="btn btn-danger fa fa-microphone-slash fa-1x"></button></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">

    </div>
</div>

